{% extends "base.html" %}

{% block base_content %}

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Changethis</a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="hero-unit span6">
        <h1>Changethis</h1>
        <p>Changethis changethis changethis</p>
        <p>
          <a href="/dashboard" class="btn btn-success btn-large">
            Get started!
          </a>
        </p>
      </div>
      <div class="span4">
        <h2>Whats this for?</h2>
        <p>
          Cray chambray american apparel in, polaroid DIY odd future blog PBR tumblr consectetur williamsburg. Keffiyeh direct trade in, quis nostrud tempor fanny pack ut street art irony umami biodiesel elit nesciunt. Wolf nostrud street art pickled, voluptate elit ea pariatur.
        </p>
        <h2>How does it work?</h2>
        <p>
           Velit brunch cliche tumblr. Carles sustainable before they sold out tofu. Retro laborum occupy chillwave, hella vice biodiesel anim commodo qui. DIY freegan cray, odd future quis sed magna deserunt duis vice kale chips semiotics american apparel pickled.
        </p>
      </div>
    </div>

    <footer>
      <p>&copy; {% now "Y" %} <a href="http://changethis.com">Changethis</a>, All Rights Reserved</p>
    </footer>

  </div> <!-- /container -->

{% endblock %}